.Login {
	display: flex;
	justify-content: center;
	min-height: "23rem";
}

.Login .Card {
	border: 5px, solid, dodgerblue;
	width: 20rem;
	-webkit-box-shadow: 10px 10px 26px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 26px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 26px -5px rgba(0, 0, 0, 0.75);
}

.Login .Card .Button-submit {
	justify-content: "center";
	width: 100%
}